-# frozen_string_literal: true
.container.h-100.d-flex.justify-content-center.align-items-center
  .col-12.col-md-6.mt-5
    %h2.text-center= t(".sign_up")
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.error_notification
      .form-inputs
        = f.input :firstname, required: true, autofocus: true, placeholder: 'John'
        = f.input :lastname, required: true, placeholder: 'Doe'
        = f.input :email, required: true, input_html: { autocomplete: "email" }, placeholder: 'john.doe@gmail.fr'
        = f.input :password, required: true, hint: (t('devise.shared.minimum_password_length', count: @minimum_password_length) if @minimum_password_length), input_html: { autocomplete: "new-password" }
        = f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" }
      .form-actions
        = f.button :submit, t(".sign_up"), class: 'btn btn-primary'
    = render "devise/shared/links"
