-# frozen_string_literal: true
.percs.d-flex.flex-wrap.mt-2
  .card.shadow-sm.d-flex.flex-column.justify-content-center.align-items-center
    %p.m-0= car.year
    %p.m-0.text-muted.font-weight-lighter Année
  .card.shadow-sm.d-flex.flex-column.justify-content-center.align-items-center
    %p.m-0= car.mileage
    %p.m-0.text-muted.font-weight-lighter Kilométrage
  .card.shadow-sm.d-flex.flex-column.justify-content-center.align-items-center
    %p.m-0= car.body_style
    %p.m-0.text-muted.font-weight-lighter Carrosserie
  .card.shadow-sm.d-flex.flex-column.justify-content-center.align-items-center
    %p.m-0 #{car.power} ch.
    %p.m-0.text-muted.font-weight-lighter Puissance
  .card.shadow-sm.d-flex.flex-column.justify-content-center.align-items-center
    %p.m-0 #{car.engine} cyl.
    %p.m-0.text-muted.font-weight-lighter Moteur
  .card.shadow-sm.d-flex.flex-column.justify-content-center.align-items-center
    %p.m-0= car.transmission
    %p.m-0.text-muted.font-weight-lighter Boîte de vitesse
  .card.shadow-sm.d-flex.flex-column.justify-content-center.align-items-center
    %p.m-0= car.propulsion
    %p.m-0.text-muted.font-weight-lighter Transmission
  .card.shadow-sm.d-flex.flex-column.justify-content-center.align-items-center
    %p.m-0= car.seats
    %p.m-0.text-muted.font-weight-lighter Places